{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<h4>Курсовая работа</h4>
<div>Настоящая курсовая рабоьа выполнена студентом 3 курса
    группы ТРП-1-20 Ушаковым Егором Дмитриевичем
    Тема: Проектирование информационной системы ПАО "Аэрофлот", разработка
    задачи прогнозирования спроса на авиаперевозки подсистемы "Управление финансами"<br>
    Адрес электронной почты для обратной связи: <a href="usakovegor2002@gmail.com">usakovegor2002@gmail.com</a><br>
    Номер телефона: +7(950)815-21-96
</div>
{% endblock %}